<!-- -----search----- -->
<div class="search position-relative">
  <img
    src="../assets/images/icon/search.png"
    alt="search"
    class="position-absolute translate-middle-y top-50 start-24"
  />
  <input
    type="text"
    name="search"
    id="search"
    placeholder="搜尋劇名/演員/類別"
    aria-label="search"
    aria-describedby="search"
    class="form-control ps-64 pe-24"
  />
</div>
